$black:      #000000;
$mid-grey:   #777777;
$light-grey: #eeeeee;
$blue:       #227CE8;

// STAY SUMMER http://kuler.adobe.com/#themeID/2026355 //
$green-blue:	#467f71;
$light-yellow:  #ffe87a;
$orange-yellow: #ffca53;
$orange: 		#ff893b;
$red:			#e4e4e4;

// SANDY BEACH STONE
$tan: #e6e2af;
$dark-tan: #a7a37e;
$light-tan: #efecca;
$light-blue: #046380;
$dark-blue: #002f2f;

//consider DUSTY PETROL http://kuler.adobe.com/#themeID/119766
//or SALAMANDER or mountains of burma