@import "colors.scss";
@import url(http://fonts.googleapis.com/css?family=Headland+One);
@import url(http://fonts.googleapis.com/css?family=Nunito);
$serif: 'Nunito', cursive;
$headline: 'Headland One', cursive;
$sans: 'Nunito', cursive;
$sidebar-width: 120px;
$content-margin-left: $sidebar-width + 30px;
$topnav-height: 25px;


* {
  background-color: $light-tan;
}

body {
  font-family: $serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $light-blue;
}

.name {
    #first {
      padding-left: 1px;
      font-size: 23px;
      letter-spacing: 5px;
      color: $light-blue;

      &:hover {
        color: $dark-blue;
      }
    }

    #last {
      font-size: 20px;
      letter-spacing: 1px;
      color: $dark-blue;
    }
}

.avataricon {
    background: url("http://s.gravatar.com/avatar/ca062712ea52ebcfe2f1ee362aa9dc55?s=80") no-repeat scroll 13px 13px $light-tan;
    float: margin-center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ccc;
    opacity: .8;
    height: 75px;
    width: 75px;

    &:hover {
      opacity: 1;
      background-color: $tan;
    }
}

#topnav {
  width: 960px;
  position: fixed;
  text-align: center;
  top: 0;
  margin: 0 auto 0 auto;

  display: block;
  height: $topnav-height;
  font-family: $headline;
  
  i {
    color: $dark-tan;
    padding: 0 4px;
    border: 0;
    font-size: 20px;
    &:hover {
      color: $light-blue;
    }
  }
  .icon-text {
    font-size: 23px;
    letter-spacing: 5px;
    color: $light-blue;
  }

  a {
    text-decoration: none;
  }

  .name {
  }
}

#container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#sidebar {
  position: fixed;
  top: $topnav-height + 25;
 // left: 15px;
  width: $sidebar-width;
  font-family: $headline;

  a {
    text-decoration: none;
  }

  .name {
    margin: 10px 0 20px 0;
  }

  i {
    color: $dark-tan;
    padding: 0 4px;
    border: 0;
    font-size: 20px;
    &:hover {
      color: $light-blue;
    }
  }

  .icon-text {
    font-size: 12px;
    color: $light-blue;
    padding-left: 2px;
    letter-spacing: 1px;
  }

  .section-text {
    padding-top: 10px;
    font-size: 10px;
    color: $light-blue;
    padding-left: 2px;
    letter-spacing: 1px;
  }

  .sections {
    margin: 10px 0 0 -15px;

    a {
      background-color: $light-blue;
      padding: 5px 5px;
      color: $tan;
      font-weight: bold;
      font-size: 12px;

      &:hover {
        color: $dark-tan;
        padding: 5px 25px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin-bottom: 7px;
    }
  }
}

.content {
  padding-top: 70px;
  margin-left: $content-margin-left;
  width: 500px;
  margin-bottom: 50px;
  overflow: hidden;

  // h1-h4
  @each $number in 1,2,3,4 {
    h#{$number} {
      color: #333;
      font-family: $headline;
      font-weight: 400;
      border-bottom: 1px solid #ccc;
    }

    h#{$number} a {
      color: #111;
      text-decoration: none;
    }
  }

  h1 {
    text-align: left;
    font-size: 36px;
    margin: 18px 0 5px 0;
  }

  h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
  }

  h3 {
    text-align: left;
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em;

    code {
      font-size: 12px;
      background-color: $tan;
      border: 1px solid $dark-tan;
      border-radius: 3px;
      padding: 2px 3px;
    }
  }

  img {
    padding: 3px;
    border: 1px solid $light-blue;
    max-width: 100%;
  }

  li {
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  blockquote {
    font-style: italic;
    font-size: 14px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444;

    cite:before {
      content: '— ';
    }

    cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal;
    }
  }

  .byline {
    margin-bottom: 17px;
    font-family: $headline;
    padding-left: 0px;
    font-size: 17px;
    color: #777;
  }

  .aside {
    background-color: $light-blue;
    padding: 14px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    line-height: 1.6em;
  }

  .listing {
    margin: 10px 0 0 0;
    padding: 0;
    font-family: $sans;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 13px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: $dark-tan;
      border-bottom: 2px solid $tan;
    }

    li span {
      float: right;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $dark-blue;
        text-decoration: underline;
      }
    }
  }

  .meta {
    margin: 30px 0;
    padding: 10px 0;
    font-family: $sans;

    p {
      line-height: 1.4;
      font-size: 14px;
      margin-top: 0px;
    }

    .avataricon {
      position: relative;
      float: left;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: -80px;
      border-radius: 4px;
    }

    .copy {
      padding-left: 85px;
    }
  }

  .talk-design {
    .color div{
      float: left;
      margin-right: 10px;
      padding: 5px 15px;
      border: 1px solid #000;
      font-family: $sans;
      font-size: 12px;
      font-weight: bold;
    }
    .color .white{
      color: $light-tan;
    }
  }
}